NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=xxxxxxxx
SUPABASE_SERVICE_ROLE_KEY=xxxxxxxx

RESEND_API_KEY=re_xxxxxxxx
EMAIL_FROM=notify@yourdomain.com

NEXT_PUBLIC_APP_URL=http://localhost:3000
